<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Application</title>
    <link th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Welcome!</h1>
    <table>
        <ul>
            <li>
                <a href="#" th:href="@{/}">Home</a>
            </li>
            <li>
                <a href="#" th:href="@{department/all}">Departments</a>
            </li>
            <li>
                <a href="#" th:href="@{employee/all}">Employees</a>
            </li>
        </ul>
    </table>
</body>
</html>